[2021-04-26 20:11] OR13 opened #1 "Merge WACI Spec History"
Preserve the Bloom spec history via git:

https://stackoverflow.com/questions/6426247/merge-git-repository-in-subdirectory

[2021-04-26 20:18] OR13 commented on #1
@JaceHensley  I had to invite you, please accept invitation.

[2021-04-26 23:08] OR13 opened #3 "Update the readme to track input documents"
We need to add links to stuff from IIW, including Aries RFCs and

https://docs.google.com/document/d/1_b5MxzUPWzYxXxWt7Tw6-MySqh77ZvYHBnUgEBCFH7Q/edit#heading=h.dmkfjagb2ier

[2021-04-26 23:09] #1 closed

[2021-04-29 01:37] #3 closed

[2021-04-29 13:08] OR13 opened #5 "Update DIDComm messages to match v2"
See https://github.com/decentralized-identity/waci-presentation-exchange/pull/4#pullrequestreview-648085501

[2021-04-29 14:24] OR13 opened #6 "limit_disclosure: 'required' for BBS+"
We need to either pass a frame OR generate a frame from input descriptors.

[2021-04-29 14:24] OR13 commented on #6
ping @tplooker @csuwildcat

[2021-04-29 15:05] OR13 opened #7 "Conform for AIP 2.0"
https://github.com/hyperledger/aries-rfcs/issues/598

[2021-04-29 16:17] csuwildcat commented on #6
I believe you can generate a framing object from what exists in PE using common utilities found in most JSONPath libs, which we can specify as a non-normative process. Would the following (rough strawman) processing instructions suffice:

1. Generate a new JSON object in memory.
2. Use the JSONPath selectors to detect matches on a target Holder object you are inspecting
3. If the selector finds a

[2021-05-03 20:24] OR13 commented on #6
This would appear to be required If verifier wants too convey the exact fields a BBS+ VC should disclose... which is then wrapped in the VP and submitted

[2021-05-03 20:36] OR13 opened #8 "We need a layer cake diagram"
It should cover, DIDComm, HTTP, QRCodes.

It should but in context, things like JWE wrapper, HTTP URLs vs responses.

[2021-05-03 20:52] wyc opened #9 "Establishing trust between the holder and relying party"
As a holder who may present credentials to a relying party, I want to have some assurances that the person receiving my credentials behind the QR code is actually the party to whom I'm intending to send my information. It would be especially convenient to have them send a presentation to me containing claims proving who they are before I send them anything of mine.

One simple approach building up

[2021-05-03 21:00] wyc opened #10 "Preventing replay/misinterpretation attacks when using VPs"
As a holder, I want to make sure that even if my Verifiable Presentation is stolen, such as through a man-in-the-middle attack, that it cannot be used for any other purpose than the one I intended. I want the ability to scope the VP's interaction to a granular level across both LD-Proof and JWT reprs.

Currently the spec allows for a `challengeToken` tied to a particular interaction, but if an att

[2021-05-04 02:59] kdenhartog commented on #6
The frame will need to include more than just the property keys to be able to work correctly. In particular the context values will need to be added and the type values will need to be added and I'm not sure if the PE semantics have everything that we'd need to map it to a frame at this point. Is anyone familiar with how frames work and how PE work able to comment on how the semantics of the type

[2021-05-04 14:23] OR13 commented on #6
@kdenhartog I think most of the frame can be pulled from the type IRI and field names, but yes.... I worry that edge cases will not be well covered.... in particular, building a nested data structure in the frame from PE seems hard.

[2021-05-04 18:07] csuwildcat commented on #6
I agree with @OR13  that I won't feel 100% about this being easy to do in all cases, but it does look doable at first blush. I think Orie is exactly right to say that we need to fully understand and test the range of possible descriptors and frames to know if there are any issues with translating between them.

[2021-05-10 20:08] brentzundel commented on #5
@telegramsam has agreed to be assigned

[2021-05-10 20:11] brentzundel commented on #8
@csuwildcat will make the first attempt

[2021-05-10 22:13] TelegramSam opened #13 "QR Code Approach"
The WACI spec includes a short message format for use inside a link or a QR code: https://github.com/decentralized-identity/waci-presentation-exchange/blob/main/spec/spec.md#qr-code-or-link

DIDComm V2 has a method for passing messages in a URL or a QR code: https://identity.foundation/didcomm-messaging/spec/#out-of-band-messages

This method is very universal and supports many things beyond the s

[2021-05-10 22:40] TelegramSam opened #14 "Swapping tech with Overlapping Layers"
The original WACI proposal is an all-in-one stack. We are proposing a layer cake stack, where different external specs guide the function of each layer. If we desire pieces of the stack to be swapped out for other technologies, we should be careful to recognize that some replacements affect multiple layers. When combined, how should the replacement displace the matching layers?

For example: DIDCo

[2021-05-17 22:44] OR13 opened #15 "DIDComm Out of Band for Web to Web Wallet Interactions"
@troyronda @TelegramSam I am creating this issue to track the various ways DIDComm __might__ work in a web to web scenario... noting that all of these options are on the table and that non of them are really this spec's job.

### DIDComm + CHAPI

https://w3c-ccg.github.io/credential-handler-api/

Allows a website to enable a user to pick a wallet to use to interact with the website.

This would al

[2021-05-17 22:48] OR13 commented on #15
The key problem is this:

given a page: https://example.com/verifier/presentations/inbox.html

how does a mobile web browser visiting this page submit a response to the JSON the verifier provides.

[2021-05-18 11:08] supcmd opened #16 "NFC NDEF handshake?"
NFC is a much smoother UX ... and is almost identical to the QR flow.  Can this be added as an alternate, using the NDEF protocol.

[2021-05-18 23:35] kdenhartog commented on #16
NFC isn't always going to be available because it requires a hardware aspect. Support for NFC should be added, but I wouldn't expect this to be a v0.1 feature. Additionally, it would make sense to move this work over to the DIDComm WG as a way to define how the transport should be used to exchange any DIDComm message.

[2021-05-24 18:23] OR13 commented on #16
if your flow is URI based, and you embed the URI in an ndef tag, you are kinda done.

I would encourage us try and stick to URIs as much as possible for this reason, especially when considering QR Codes of objects vs QR Codes that encode objects in an URI.

[2021-05-24 18:26] OR13 commented on #14
I think we should cut the spec down to v0.1 reqs and then do a PR with the minimal layer cake diagram for v0.1

[2021-05-24 18:28] OR13 commented on #10
This is out of the box if your VP is W3C VC Data Model Compliant.

I suggest closing this issue, since it is solved for by having a VP that is spec conformant.

see https://w3c.github.io/vc-data-model/#example-2-a-simple-example-of-a-verifiable-presentation

[2021-05-24 18:30] OR13 commented on #9
I think this is out of scope for v0.1, assume that the holder trusts the challenge token provider, either because they are already logged in, or they are on a web origin that is cryptographically tied to the verifier

Recommend closing this issue, it's out of scope, or moving it to another DIF repo like PE spec or CM spec.

[2021-05-24 18:30] OR13 commented on #8
Related: https://github.com/decentralized-identity/waci-presentation-exchange/issues/14

[2021-05-24 18:33] OR13 commented on #6
This issue is not critically blocking progress, either we provide evidence that its possible or we inject a JSON-LD frame for v0.1, since I know the frame solution is possible, I am in favor on simply doing what we know will work, and will align with existing tooling.

@csuwildcat @tplooker how hard will it be to add an optional `frame` parameter to PE Spec, that seems like the only path forward o

[2021-05-24 18:33] OR13 commented on #5
Any update on this? AFAIK the DIDComm Messages are the most critical blocker here.

[2021-05-24 20:33] OR13 commented on #6
On the call, we discussed now we should provide the frame next the input descriptors.

We now require an example that matches the messages

[2021-05-24 20:54] OR13 opened #18 "Update spec to include VaccinationCertificate frame in Presentation Definition object."
Add language to the spec that describes how folks should use a JSON-LD frame with PE spec data model.

original conversations about hypothetical alternatives here: https://github.com/decentralized-identity/waci-presentation-exchange/issues/6

[2021-05-24 20:54] TelegramSam opened #19 "Need v3 of Present Proof"
v2 is here: https://github.com/hyperledger/aries-rfcs/tree/master/features/0454-present-proof-v2
Needs DIDComm V2 Message changes applied (including attachments)

[2021-05-24 20:55] OR13 commented on #6
Decision was made not to use the `limit_disclosure` feature of the PE spec and use a JSON-LD frame for now.

[2021-05-24 20:56] OR13 commented on #18
Lets stick to the Permanent Resident card example for the first set of test vectors, this ticket can be closed when the spec provides the following examples:

[code]

[2021-05-24 21:18] wyc commented on #10
That is true for LD-Proof VPs, but not necessarily so for JWT-based ones:

From https://w3c.github.io/vc-data-model/#presentations-0

...

In the JWT representation guidelines, there's no requirement for `proof` to contain things like `domain` or `challenge`.
https://w3c.github.io/vc-data-model/#json-web-token

Would you be open to suggesting (using SHOULD) that VPs used in WACI-PEX to implement a

[2021-05-24 21:19] wyc commented on #9
If the assumption is that the holder trusts the verifier enough to share data, then yes, I will close this.

[2021-05-24 21:19] #9 closed

[2021-05-24 21:22] OR13 commented on #10
@wyc sounds like a great reason not to support VP-JWT... the spec failed to address replay attack considerations for JWT... in either case, its not for us to solve that... we cannot alter the VC Data Model in this spec.

You might consider moving this issue to the VC Data Model repo or the vp-token repo... @awoie

[2021-05-24 21:23] OR13 commented on #9
@wyc I think that holds for now, yes.

[2021-05-24 21:31] awoie commented on #10
Without arguing for or against VP-JWT, those kind of things are by design outside of the VC Data Model spec. Same for LD-Proofs btw. You won't find a normative definition of `challenge` and `domain` (or even `nonce` as per LD-P) in the VC Data Model spec. JWTs use `nonce` and `aud` for that. In the same way as for LD-P VCs, there is also a non-normative example in the spec. JOSE people would get u

[2021-05-24 22:46] TelegramSam commented on #19
This includes adaptations for attachments (as they differ from DIDComm v1 and DIDComm v2) and basic message structure (like `@id` and `@type`).

[2021-05-24 23:10] TelegramSam commented on #13
Contents of message:

[code]

Encoding details: https://identity.foundation/didcomm-messaging/spec/#standard-message-encoding

[2021-05-25 14:11] OR13 commented on #10
@awoie I agree, so for both VC-JWT and LD Proofs we don't need to define replay attack fields here...

[2021-05-25 14:13] OR13 commented on #7
I am removing the v0.1 blocker based on:

[2021-05-26 02:00] kdenhartog commented on #13
I've been reviewing what we do in DIDCommV2 recently and would like to see us move closer to a common pattern. The other related discussion to this that I've seen that would be good to inform us is this: https://github.com/digitalbazaar/vpqr/issues/5

The common theme I'm noticing here is that we're all within the same ballpark, but we're still all slightly different. Based on that thread linked a

[2021-05-26 02:44] TelegramSam commented on #13
Given the commentary in that Issue, I'm not included to go that direction at the moment. We should talk about the original intent behind the URL encoding, and see if it still applies.

[2021-05-26 03:02] kdenhartog commented on #13
Ok, I've been discussing this internally as well. There's enough shakiness on this topic that I don't think anything that we decide is going to be "right" long term. Including the described approach around usage of `didcomm://` in the standard message engoing section. Because of that it likely makes more sense to go with the "easiest to implement solution" for v0.1 work here and then find a better

[2021-06-01 20:38] TelegramSam opened #20 "DIDCommized Challange Token Request"
This message replaces the token request.
[code]

[2021-06-01 20:40] TelegramSam opened #21 "DIDCommized Token Request Result"
Message to be returned to the `propose-presentation` message as a replacement for the challange token response.

[code]

We may need to adjust the example or provide commentary to explain.

[2021-06-01 20:41] TelegramSam opened #22 "DIDCommized Presentation"
[code]
This example is not abbreviated like the request is. We should likely be consistent between the two.

[2021-06-01 20:42] TelegramSam commented on #21
Note: This passes the challenge token, but also a presentation definition as part of the presentation-exchange format.

[2021-06-07 20:11] TelegramSam opened #24 "Routing Key editorial todo (fka DID Doc Requirements)"
DID and DID Document Requirements
DIDs can by any method that supports the required key types and a service block of the following format:

[code]
If ledger reliance is an issue, Peer DIDs (particularly method 2) may be used.

[2021-06-07 20:12] OR13 commented on #19
I propose we just nest this in the v0.1 release of the spec, so we don't need to coordinate with another group.

[2021-06-07 20:16] brentzundel commented on #5
better handled by other issues, closing

[2021-06-07 20:16] #5 closed

[2021-06-07 20:19] TelegramSam commented on #8
![chrome_2021-06-07_14-17-55](https://user-images.githubusercontent.com/411919/121082396-45cf3d80-c79b-11eb-9fe2-dcf4a8eeb8d1.png)

This can be a starting place for the diagram.

[2021-06-07 20:20] TelegramSam opened #25 "Editorial to-do - HTTP setup from DIDComm v2 needs to be summarized briefly (fka HTTP Transport Details)"
we need to detail how the DID Doc requirements translate into HTTP Transport of messages.

Origin text in DIDComm spec: https://identity.foundation/didcomm-messaging/spec/#https

[2021-06-07 20:31] TelegramSam commented on #13
WG 20210607 We decided to just pick one to move fast, defaulting to the defined DIDComm encoding method to start.

[2021-06-07 20:33] OR13 commented on #22
We need to describe roughly what the prover needs to do in order to generate this message.

[2021-06-07 20:41] OR13 commented on #21
We need to add some english language around how this works, and specifically cover both the generic and specific examples in the spec

[2021-06-07 20:42] OR13 commented on #20
Needs english language documentation

[2021-06-07 20:55] bumblefudge opened #26 "v0.1 Editorial checklist/wishlist"
As per call 7June - updated 12 July
- [x] make sure nothing promised [here](https://wiki.trustoverip.org/display/HOME/GHP+Blueprint+Public+Review+Process) is missing
- [x] illustrative, cohesive examples (with real dids, real public keys, etc that actually work with each other)
- [x] Example completeness (each example would work in real life)
- [x] Appendix of out-of-scope topics

Minor nits:
- [x

[2021-06-08 19:28] OR13 opened #27 "Traceability Interoperability CCG Work Item Cross Tracking"
I propose support for this flow in the traceability work item in the CCG:

https://github.com/w3c-ccg/traceability-interop/issues/17

[2021-06-08 19:28] OR13 commented on #27
There is no action for this yes, but eventually I could imagine a set of test vectors that are more supply chain oriented being defined here, and referenced there.

[2021-06-12 07:34] brianorwhatever commented on #8
I changed the DIDComm to be the envelope and included Presentation Exchange. What other protocols are there that I should add? Credential Manifest isn't a DIDComm protocol but it should be in there right?
![image](https://user-images.githubusercontent.com/7122708/121768916-afda4080-cb15-11eb-90be-b1393e87e214.png)

[2021-06-12 07:42] brianorwhatever commented on #8
![image](https://user-images.githubusercontent.com/7122708/121769187-114edf00-cb17-11eb-9783-a9cfc5e87f40.png)

[2021-06-13 11:43] bumblefudge commented on #24
More guidance on the "ledger reliance" comment requested! Discuss in meeting?

[2021-06-13 11:44] bumblefudge commented on #25
Discuss tomorrow? Put a place-holder into my PR but I am way out of my depth here.

[2021-06-13 12:49] bumblefudge commented on #22
Perhaps the best way to do this would be with a Spec-Up ™ panel display?

i.e.
[code]

[2021-06-13 13:07] bumblefudge commented on #22
Also, are there `pthid`s missing from all the examples, or is that a difference between v2 and v3?

[2021-06-13 13:16] bumblefudge commented on #22
And where did `"definition_id": "32f54163-7166-48f1-93d8-ff217bdb0654"` come from? Let's discuss this week and I can make another PR🙃

[2021-06-14 20:28] brentzundel commented on #13
WG 20210614 @TelegramSam will turn this into a PR

[2021-06-14 20:29] OR13 commented on #8
I think we should add the latest image to the spec, and open close this issue.

There will always be opportunities for better diagrams, but this is better than what we have today, we should get it into the spec.

[2021-06-14 20:29] brentzundel commented on #18
Implemented in linked PR, closing

[2021-06-14 20:29] #18 closed

[2021-06-14 20:33] brentzundel commented on #19
All that is needed is to update the message formats from the link above, the rest of the markdown can be pretty much pasted in wholesale

[2021-06-14 20:34] brentzundel commented on #20
addressed by the two PRs, closing

[2021-06-14 20:34] #20 closed

[2021-06-14 20:35] brentzundel commented on #21
addressed by the two PRs, closing

[2021-06-14 20:35] #21 closed

[2021-06-14 20:38] bumblefudge commented on #8
![image](https://user-images.githubusercontent.com/37127325/121956266-36369280-cd61-11eb-8311-739061704c32.png)
how's this?

[2021-06-14 20:39] bumblefudge commented on #8
https://whimsical.com/XpEytT4XtKFDPSyHYP3JVj
^ feel free to fork and edit if you're a whimsical user

[2021-06-14 20:43] brentzundel commented on #22
addressed by the two PRs, closing

[2021-06-14 20:43] #22 closed

[2021-06-14 20:44] TelegramSam opened #35 "Line numbers and segments in code examples"
All examples should use the line-numbered format for code. Below each code block, we should indicate which portions of the example are from which different specs and formats.

[2021-06-14 20:48] OR13 opened #36 "Remove Peer DID references from the spec"
We should not be recommending 1 did method over another, this spec should be method agnostic.

[2021-06-14 20:48] OR13 commented on #36
ping @bumblefudge

[2021-06-14 21:08] bumblefudge commented on #8
![image](https://user-images.githubusercontent.com/37127325/121959715-6e3fd480-cd65-11eb-95ad-b30ee893d9b7.png)
 reeeemiiiiixx

[2021-06-14 21:12] OR13 commented on #8
@bumblefudge you are a god of live edits

[2021-06-14 21:18] #8 closed

[2021-06-14 21:39] brentzundel commented on #35
and each example should be complete, per the call 20210614

[2021-06-14 21:42] bumblefudge commented on #35
I check the numbering thing and spec-up doesn't support the
[code]

[2021-06-15 16:22] bumblefudge opened #39 "WACI-PEx branding/pronunciation"
CCG call today included a request for a new name and/or pronunciation with many +1s. There was also a general request for a clearer narrative about "convergence path"-- is this a way to help people negotiate a query-by-frame or a way to sidestep the VP Request spec at CCG?  I guess both of these are editorial decisions that might need to be taken at some point between v0.1 and v1? I defer to the g

[2021-06-16 14:47] rolsonquadras opened #40 "[DIDComm] Success/Redirection after Wallet Presentation Submission"
In Request/Share section, the [wallet receives an empty success response or a redirectURL](https://identity.foundation/waci-presentation-exchange/#response) when verifier validates the presentation_submission.

But [in case of DIDComm](https://identity.foundation/waci-presentation-exchange/#message-2-present-proof), how would the wallet knows that the submission was successful or the redirectURL ?

[2021-06-16 15:06] OR13 commented on #40
does the holder need a confirmation? if they do, another message is required.

[2021-06-16 16:22] andrewwhitehead commented on #40
In [present-proof 2.0](https://github.com/hyperledger/aries-rfcs/tree/master/features/0454-present-proof-v2) the success indicator is an `ack-presentation` message.

[2021-06-16 16:51] OR13 commented on #40
@andrewwhitehead can you provide a complete example of the message.

[2021-06-16 16:57] andrewwhitehead commented on #40
I think it would just be this:

[code]

[2021-06-16 16:58] OR13 commented on #40
^ needs to be DIDComm 2.0 format.

[2021-06-16 17:10] andrewwhitehead commented on #40
Not sure whether it'd be thid or pthid, but I think it'd be something like this, possibly with the redirect URL added.

[code]

[2021-06-16 19:08] brianorwhatever commented on #40
pthid is right as per https://github.com/decentralized-identity/didcomm-messaging/pull/200
this ack message should be added to the spec

[2021-06-16 19:14] brianorwhatever commented on #24
closed during meeting on Jun 14

[2021-06-16 19:22] brianorwhatever opened #42 "The layer cake diagram is incomplete"
The presentation proposal needs a PE definition or else it's not proposing anything. I couldn't fork https://whimsical.com/XpEytT4XtKFDPSyHYP3JVj since I don't have access @bumblefudge

[2021-06-16 19:53] brianorwhatever commented on #25
closed on call June 14th

[2021-06-16 19:58] brianorwhatever commented on #42
I also think we should include what direction each of the messages is going and label who is the prover and verifier unless that's now what this diagram is supposed to do. It's at the top of the document though so people who land here should be able to get what this spec does on that first impression

[2021-06-16 20:31] brianorwhatever opened #44 "End to end implementation"
I am planning on implementing this spec from scratch by the end of July. My plan to do so is the following:

- Use the `link` flow
- Use `did:web` to create a did with a service block that will work for DIDComm
- Implement DIDComm v2
    - [https://didcomm.org/present-proof/3.0/propose-presentation](https://didcomm.org/present-proof/3.0/propose-presentation)
    - [https://didcomm.org/present-proo

[2021-06-16 21:06] OR13 commented on #44
This is excellent, I would love to be able to do the same, it will be much easier to follow in your footsteps if I can.

I would suggest we specifically limit the X25519 and `ECDH-ES+A256KW` for DIDComm encryption.

We could also do P-256 `ECDH-ES+A256KW`... which would have the added benefit of being browser capable, and even more widely supported than X25519.... but its a NIST curve.

pinning do

[2021-06-17 07:01] bumblefudge commented on #42
Whoops, sorry about the permissions, shared the file live on the call and checked the wrong box.  should be forkable now

[2021-06-17 07:10] bumblefudge commented on #42
Here's a mockup, which you should hopefully be able to fork and PR now:

![image](https://user-images.githubusercontent.com/37127325/122348764-cb957a80-cf4b-11eb-8b8b-5b5764150288.png)

[2021-06-17 07:28] brianorwhatever commented on #42
yeah there should be an attachment I think or else theres no communication of what they are proposing.
it needs to be added here when we know what it is https://github.com/decentralized-identity/waci-presentation-exchange/pull/41

if that's the case what about something like this?
![image](https://user-images.githubusercontent.com/7122708/122351300-db3ca100-cf02-11eb-8c71-b20e0226103b.png)

[2021-06-17 08:15] bumblefudge commented on #44
Not to be a wet blanket, but I think the DIDComm group deprecated P-256 in favor of P-384 a few months back, although I think all the currently-existing implementations that support P-384 might still support P-256:

https://identity.foundation/didcomm-messaging/spec/#curves-and-content-encryption-algorithms
https://github.com/decentralized-identity/didcomm-messaging/pull/166

[2021-06-17 08:17] bumblefudge commented on #42
Way better, let's merge either with or without that msg 0 attachment as soon as #41 is decided (sorry I don't understand well enough to help with #41)

[2021-06-17 08:48] bumblefudge opened #45 "Example Completeness questions"
As per this week's call and a comment on a separate issue (https://github.com/decentralized-identity/waci-presentation-exchange/issues/35#issuecomment-861014233), I am creating this issue to track the example completeness in the DIDComm v2 messages section.  I assume multiple PRs will be needed to close this issue :D

Some questions I had when trying to PR in some threading and make all the `id`s

[2021-06-17 17:31] brianorwhatever commented on #42
added to #41

[2021-06-17 19:43] brianorwhatever commented on #44
Excellent I will publish my implementation repo early next week. I will be a bit more comfortable figuring out the didcomm stuff and might need a hand with the PE stuff. I did find that tool Daniel showed in the last 2 mins of the last DIF interop meeting which might help there. The fact that the LD suites aren’t in there yet shows how 2nd class of a citizen they are though so I’m worried in that

[2021-06-17 19:48] OR13 commented on #44
yes, you are correct. You will still need a valid VC to test though, your code will need to be able to verify the issued credential as part of verifying the presentation.

ECDH-1PU should be ignored for spec v0.1, this was agreed to on multiple calls. You should focus on ECDH-ES for v0.1.

JWKs are preferable any time you are using JOSE... since they are defined by JOSE... otherwise you will be co

[2021-06-21 20:24] #13 closed

[2021-06-21 20:25] #36 closed

[2021-06-21 20:33] TelegramSam commented on #39
I think those opposed to the name should submit replacement name ideas.

[2021-06-21 20:35] bumblefudge commented on #39
WACK-INT

[2021-06-21 20:42] TelegramSam opened #48 "Combine DIDComm message section with prior Interactions and Request/Share section"
Now that we have most replacements, we just need one flow. The prior art messages of the original WACI proposal can now be removed.

[2021-06-21 20:43] JaceHensley opened #49 "Re-number and re-word "Messages""
Currently the steps are labeled like this:

[code]

But we can rename these items to "steps" and tweak the numbering to start at 1. Something like:

[code]

[2021-06-21 20:50] brianorwhatever commented on #42
discussed on Jun 21 call.
the propose message doesn't have an attachment it is simply a "i want to present something" message

[2021-06-21 20:50] #42 closed

[2021-06-22 02:14] kdenhartog opened #51 "Usage of 0-RTT for Message 1"
Hey I noticed that right now we've got the Message -1 as an OOB 2.0 message which is useful for setting up a connection. However because of the usage of 0-RTT in DIDCommV2 it should be possible to utilize Message 0 directly to both initiate the connection and start the flow. I looked through the old issues and didn't see anyone mention this as a possible option. Was it considered and ruled out as

[2021-06-22 06:26] brianorwhatever commented on #51
on the call today we talked about changing everything to steps and they start from 1 see #49 and #50

[2021-06-22 07:49] bumblefudge commented on #51
Is "Step 1"/"Message -1" completely optional doing "Step 2"/"Message 0" differently, or would skipping step 1 require a different, alternate step 1, i.e., `Step 1'` ? 😄

[2021-06-22 12:08] kdenhartog commented on #51
Yeah essentially because of 0-RTT you should be able to skip Step 1/Message -1 (The OOB message)

So my question is more around whether it was chosen not to do that, and if so what was the reason?

[2021-06-22 12:56] kdenhartog commented on #51
I just realized I think Step -1, Step 0, and Step 2 can all be rolled together. Basically you just do this:

Take the JSON in the request:

[code]

base64url encode it
`
eyJ0eXBlIjoiaHR0cHM6Ly9kaWRjb21tLm9yZy9wcmVzZW50LXByb29mLzMuMC9yZXF1ZXN0LXByZXNlbnRhdGlvbiIsImlkIjoiMGFjNTM0YzgtOThlZC00ZmUzLThhNDEtMzYwMDc3NWUxZTkyIiwidGhpZCI6Ijk1ZTYzYTVmLTczZTEtNDZhYy1iMjY5LTQ4YmIyMjU5MWJmYSIsImZyb20iOiJkaWQ6ZX

[2021-06-22 22:13] brianorwhatever commented on #44
Ok I have a basic implementation of did:web working that outputs a document that matches your example above. I am working on this at https://github.com/aviarytech/wacinsteins-monster

Anyone is welcome to contribute over there it's a total sandbox (with in memory keys...)

I recommend closing this issue during the next call.

[2021-06-22 23:22] brianorwhatever commented on #51
I like where Kyle is going here and am looking forward to hearing more of the groups opinion. @kdenhartog this would result in a 2 step process right? Request / Present

[2021-06-23 00:18] troyronda commented on #51
@kdenhartog How did you determine both `from` and `to` in the example request? I think you only know the `from` without some prior message being involved.

- OOB sets up a broadcast to anyone `from` the verifier.
- Propose presentation tells the Verifier who is the holder (which will then be populated into `to`).
- Request presentation can then have both a `from` and a `to`.

[2021-06-23 00:29] brianorwhatever commented on #51
also aren't the current examples in the spec backwards?
https://identity.foundation/waci-presentation-exchange/#message-1-request-presentation
request has a `from` of prover and a `to` of verifier where the message is going in the other direction.
message 2 (present) has the same problem but in reverse

[2021-06-23 00:51] kdenhartog commented on #51
Shouldn't we be able to use the `skid` and `kid` properties on the outter envelope now? Before that 0-RTT was acheived through the usage of the from internally and the kid's externally.

[2021-06-23 13:20] bumblefudge commented on #35
On today's Interop call, Pam recommended:
- color coding (maybe correspond to the image at the top from #42)
- JWT.IO -style parser/linter ? cut and paste the example into such a thing for further guidance?

[2021-06-23 13:27] bumblefudge opened #55 "How to make abstract clearer / how not to spook people"
In today's interop call, some questions:
* "Is this a spec? Feels more like a **profile** for a specific purpose."
* "Does this **depend on** WACI? does someone who builds to thing assume a dependency on WACI?"
* Is issuance out of scope? This feels like it all tends towards Present Proof and is its goal
* Has anyone looked at the [OIDC for VPs Spec](https://openid.net/specs/openid-connect-4-verif

[2021-06-23 21:47] JaceHensley commented on #55
I can take a crack at these questions, but anyone else please speak up and tell me so if I'm misspeaking or missing anything :)

- Yeah I think that makes sense, based on our last call and the blog post
- This is a spike that's based on WACI and WACI will take learnings and patterns from this effort
- That's the other side of the original WACI spec, WACI is just about interactions so request/verif

[2021-06-24 01:26] kdenhartog commented on #40
@andrewwhitehead would it make sense to change the type to make it a more generalized message? So something like this (assuming I got the versioning right and that namespace hasn't already been used):

[code]

[2021-06-24 01:31] kdenhartog commented on #45
I'd say yeah it's fine. This is a common pattern that Signal uses as well which is to utilize the same messaging layer between their application and metadata about messages at the application layer (e.g. key rotations/notifications/etc)

Sorry to answer a question with a question here, but wanting to make sure I'm offering good information. Is there a way that we could combine it with another mess

[2021-06-24 01:36] kdenhartog opened #56 "Should delegation be disabled?"
This is related to conversations that are ongoing in the CCG. However, given this is intended to be used for vaccination passes there's some odd behaviors that can arise from delegation. I think for the case of how the verifier is processing the VP response in the particular GHP use case we'll want to disable it. However, I'm not sure this is the right place to define it since in other use cases i

[2021-06-24 08:39] bumblefudge commented on #55
Nice, thanks.  That's more or less how I answered on the call, but good to have it documented here and to confirm I didn't misspeak on the group's behalf.  Phew!

[2021-06-24 08:39] bumblefudge commented on #55
Leaving the thread open in case someone other than me ends up PRing all this into the abstract/intro sections.  If no one else volunteers Monday, I'll take a crack next week.

[2021-06-24 13:43] OR13 commented on #51
I am not up to date with DIDComm V2 enough to really comment on this, but:

1. we should seek to reduce the number of messages
2. we should avoid mutual authentication

presentations are unidirectional authentication (holder authenticates with verifier).

[2021-06-24 18:41] andrewwhitehead commented on #40
@kdenhartog  Acks are based on [Aries RFC 0015](https://github.com/hyperledger/aries-rfcs/tree/master/features/0015-acks) which suggests that the message may be adopted (and presumably extended) for specific protocols. This was done for present-proof 2.0. I can say that for our implementation in ACA-Py it's helpful to immediately know what protocol the ack was associated with.

[2021-06-24 22:39] kdenhartog commented on #40
Sounds good thanks for weighing in on that. Based on what you described and your implementation experience with it, I think your solution is likely to be the better way to go.

[2021-06-28 20:14] #48 closed

[2021-06-28 20:14] #49 closed

[2021-06-28 20:22] #40 closed

[2021-06-28 20:33] henkvancann opened #57 "Invalid input JSON Schema Filter - no signal"
Testing Presentation Exchange repo: https://identity.foundation/presentation-exchange/playground/

Under Input descriptors ->  Fields -> JSON Schema Filter

See attachments, invalid input leads to deleting of "filter" attribute / line, but without a signal / warming that it's invalid input that triggers this.

<img width="1195" alt="Screenshot 2021-06-28 at 22 22 13" src="https://user-images.githu

[2021-06-28 20:33] OR13 commented on #56
https://www.w3.org/TR/vc-data-model/#subject-holder-relationships

[2021-06-28 20:41] OR13 commented on #56
IMO, this is an application / business layer concern for GHP or other governance layers.

[2021-06-28 20:42] OR13 commented on #56
@kdenhartog advised us to close this issue on the call.

[2021-06-28 20:42] #56 closed

[2021-06-28 20:42] bumblefudge commented on #56
Some points made on today's call:
* Orie: this inherits problems from the BBS+ and GHP business logic - this profile need not solve all the problems
* Kyle: Governance layer needs to decide/constrain delegation, perhaps
* Orie: Might be worth re-opening for v1?
* Kyle: Close it
* Orie: I'd cross link it later... tho

[2021-06-28 20:43] OR13 commented on #57
We think this may be the wrong repo. discussed on the call.

[2021-06-28 20:45] henkvancann commented on #57
ah sorry, what's the right one?

[2021-06-28 20:46] OR13 commented on #44
Discussed on the call, recommend closing.

[2021-06-28 20:46] #44 closed

[2021-06-28 20:48] csuwildcat commented on #57
@henkvancann this should go into the PE repo

[2021-06-28 20:52] henkvancann commented on #57
https://github.com/decentralized-identity/presentation-exchange got it

[2021-06-28 20:52] #57 closed

[2021-06-28 20:55] OR13 commented on #35
@csuwildcat this could be your moment.

[2021-06-28 20:59] csuwildcat commented on #35
@OR13 can add things - what is the full list of asks? Is this the correct set of items:

1. Line numbers
2. Click-to-copy code/examples
3. Segments in code examples (what does this mean?)

[2021-07-12 20:07] TelegramSam commented on #19
Doneski

[2021-07-12 20:07] #19 closed

[2021-07-12 20:08] brentzundel commented on #19
closed by #54

[2021-07-12 20:09] OR13 commented on #24
The action is to close out the TODO, regarding "what are routing keys"

[2021-07-12 20:09] TelegramSam commented on #24
cleanup TODO Text surrounding routing keys

[2021-07-12 20:11] OR13 commented on #25
Needs additional text, regarding use with HTTP endpoints, so that folks only need to read didcomm for fun.

[2021-07-12 20:25] bumblefudge opened #59 "Out of scope issue: ECDH-1PU caveat"
The group asked today what needs a brief paragraph or two added to the "Out of scope" section at the very end.  One such iteas was Authenticated Encryption - specifically, the situation where ECDH-PU drafts are currently unstable (deferred while that gets worked out).

 @troyronda @dhh1128 would either of you wanna PR in a tiny blurb about why AuthN'd encryption is temporarily out of scope for WAC

[2021-07-12 20:26] bumblefudge opened #60 "Out of scope issue: LD Framing not described at all in PresEx"
- how LD frame is to be handled in PE (thanks @brianorwhatever !)
  + link to [BBS-LDP ](https://w3c-ccg.github.io/ldp-bbs2020/#the-bbs-signature-proof-suite-2020) and [this working example](https://github.com/mattrglobal/jsonld-signatures-bbs#examples)

[2021-07-12 20:28] bumblefudge commented on #60
May make sense to refer to the section from the abstract/intro

[2021-07-12 20:34] bumblefudge opened #62 "Nit: example indented improperly"
https://identity.foundation/waci-presentation-exchange/#step-3-send-message-requesting-presentation

[2021-07-19 19:46] bumblefudge commented on #62
Addressed by #63

[2021-07-19 19:46] #62 closed

[2021-07-19 19:47] bumblefudge commented on #60
Addresssed by #63

[2021-07-19 19:47] #60 closed

[2021-07-19 20:27] brentzundel commented on #10
Discussed during a meeting 19 July 2021.
We feel this may be out of scope for this group. Closing for now.

[2021-07-19 20:27] #10 closed

[2021-07-19 20:31] brentzundel commented on #14
Discussed during a meeting 19 July 2021.
We feel this may be out of scope for this group at this time. Closing for now.

[2021-07-19 20:31] #14 closed

[2021-07-19 20:40] brentzundel commented on #15
We would like this capability in v0.1, but recognize that time constraints may move it to v1

[2021-07-19 20:45] brentzundel commented on #51
For v0.1, separate QR code into generation (step 0) and holder scans QR code (step 1)

[2021-07-19 20:51] TelegramSam commented on #59
ECDH-ES is common and in most libraries. DIDComm V2 uses ECDH-1PU (now at draft 4), but is not as settled as we need for v0.1. For future versions we will revisit.

[2021-07-23 23:29] TelegramSam commented on #51
I like the goal, but there are a number of challenges to reducing message count:
1. QR code size, without resorting to some other complexity like a shortener.
2. QR code may be printed, which means the longer flow must be used. Now we have two flows? (going for simple here, even if that means not most efficient in all cases.)
3. It doesn't allow for any accept-type negotiation (this is really a DI

[2021-07-23 23:33] TelegramSam opened #71 "Do we need encryption examples?"
In the spirit of 'self contained spec', do we need details of how to encrypt a message?

[2021-07-26 20:16] #24 closed

[2021-07-26 20:18] brentzundel opened #72 "improve language around routing keys"
We could use a bit better language to explain that routing key members, when present should be an array of one or more members.
Also, messages should be encrypted using each of the keys in the keyAgreementKey property.

[2021-07-26 20:20] #25 closed

[2021-07-26 20:42] brentzundel commented on #51
@kdenhartog we discussed this in our meeting on 26 July and the group want to close the issue with no action
Do you have a response to Sam's comments above?

[2021-07-26 20:43] brentzundel commented on #45
discussed during 26 July call, consensus is that this has been addressed.

[2021-07-26 20:43] #45 closed

[2021-07-26 20:45] OR13 commented on #6
I opened https://github.com/decentralized-identity/presentation-exchange/issues/234 to track the requested change in the upstream spec.

[2021-07-26 21:00] brentzundel commented on #6
link to AcaPy's implementation that derives a JSON-LD frame object from the `input_descriptors` object in a presentation definition: https://github.com/hyperledger/aries-cloudagent-python/blob/34c554440c6eb05c671ffa827b3a72075486e0ae/aries_cloudagent/protocols/present_proof/dif/pres_exch_handler.py#L504

[2021-07-28 01:16] kdenhartog commented on #51
I've not been tracking this well enough at this point to respond. Originally, this issue was intended to just be a feature suggestion for optimization. I'm good with closing this with no action and if someone wishes take the time to optimize the number of messages in the future at least this is here with some ideas.

[2021-07-28 01:16] #51 closed

[2021-08-02 20:42] brentzundel commented on #6
Our side is done, leaving open to keep link alive to PE spec issue https://github.com/decentralized-identity/presentation-exchange/issues/234

[2021-08-02 20:50] OR13 commented on #71
Here is an example of a JWE:

[code]

[2021-08-02 22:42] OR13 opened #78 "Spec link is broken"
https://identity.foundation/waci-presentation-exchange/

[2021-08-03 19:28] nembal commented on #78
https://identity.foundation/waci-presentation-exchange/ <- it works now @OR13

[2021-08-03 20:05] brentzundel commented on #78
hmm, I'm still getting a 404
![image](https://user-images.githubusercontent.com/10376511/128078890-4a4f380e-7193-4085-b142-4a27756be4f3.png)

[2021-08-03 20:56] bumblefudge commented on #78
yup was up for a while, now back down. something glitching out in the DNS mapping, maybe, I've had that problem with GHPages in the past

[2021-08-03 21:00] OR13 commented on #78
cc @csuwildcat

[2021-08-03 21:08] csuwildcat commented on #78
This isn't a Spec-Up issue - looks like someone moved the specs.json out of the root and completely changed the structure of the repo. Because of that, and the fact there is no longer an HTML file where the link is pointing, it is a 404. Move the specs.json to the right place and make sure that your link points to the right path you have chosen to render it to.

[2021-08-04 23:19] csuwildcat commented on #78
I don't know what happened, but I think you may just need to put this file back at the root: https://github.com/decentralized-identity/waci-presentation-exchange/blob/main/spec/specs.json

[2021-08-06 20:47] brentzundel opened #81 "Challenge token and domain format"
In the WACI context, Step 3 - Send Message Requesting Presentation, there is mention of a challenge token, but no guidance is provided as to what type of value is acceptable for this property.

[2021-08-06 23:12] brianorwhatever commented on #6
so realizing now since we are saying we are using both the frame and input descriptors there is some point that either:
1. implementer converts from one to the other
2. user selects both the frame and input descriptors

obviously 2 is an awkward experience so I think people will most likely implement a conversion themselves.. I think this is fine for v0.1 but I think we might want to rethink this

[2021-08-09 20:23] brentzundel opened #84 "Encryption needs a bit more"
Implementers may need a bit more information on JWEs in order for this section to be entirely useful. Perhaps a link to the JWE RFC would be sufficient.

Also the section needs review.

[2021-08-09 20:25] TelegramSam commented on #84
also abbreviate (...) the example jwe attributes

[2021-08-09 20:28] brentzundel opened #85 "WACI flow diagram needs updating"
The flow diagram in the WACI context should be updated to match the existing examples and flow of the spec.

[2021-08-09 20:34] brentzundel commented on #81
also domain isn't specified

[2021-08-09 20:37] brentzundel commented on #81
They should be normatively strings, point them to https://w3id.org/security/#domain and https://w3id.org/security/#challenge
 give some brief guidance on what a nonce/challenge is.

[2021-08-09 20:38] brentzundel commented on #78
now resolved

[2021-08-09 20:38] #78 closed

[2021-08-09 20:40] brentzundel commented on #72
this was done in PR #69

[2021-08-09 20:40] #72 closed

[2021-08-09 20:41] brentzundel commented on #71
done in PR #83

[2021-08-09 20:41] #71 closed

[2021-08-09 20:42] OR13 commented on #15
See also comments on https://github.com/w3c-ccg/universal-wallet-interop-spec/issues/99

[2021-08-10 07:39] bumblefudge opened #90 "Editorial nit: thid/pthid still a smidge confusing"
feel free to summarily close this issue without my consent/confirmation if I'm wrong about this, but my hunch is that the example in [this section](https://identity.foundation/waci-presentation-exchange/#step-2-send-message-proposing-presentation) should either
1.) have a `thid` instead of `pthid`, or
2.) update its text to explain why it's `pthid` instead of `thid`.

The latter makes more sense t

[2021-08-10 09:24] bumblefudge commented on #85
https://swimlanes.io/d/C5HnpvA4f

feel free to apply changes directly to the source and PR in new versions without me in future WG meetings

[2021-08-10 10:30] bumblefudge commented on #85
ack tried recreating in mermaid mode and don't have the time this week, will just PR in a PNG for now, will try again on V1 timeline.  would rather have something in before review at CCG and/or interop WG

[2021-08-13 23:46] agropper opened #93 "The logic and relationships among VC-related protocols is inscrutable"
Is there an organizing principle to the protocols being developed in W3C and DIF? There are numerous threads open on subject vs. holder, presentation exchange, authentication, and requests of all sorts. Can we step back and look for a common understanding?

Do we have a shared understanding of the following principles (all relate to the identity of the VC subject):

P1 - VCs do not depend on DIDs.

[2021-08-14 05:17] OR13 commented on #93
I think you mean "claims"... or you mean a VP of multiple credentials.

 I don't know what you mean. I don't think you necessarily need protocol changes to work with ZKPs.

 I am not sure what you are trying to say. Some VCs need long lived public identifiers for issuers and subjects, others don't.

https://w3c.github.io/vc-data-model/#dfn-holders

separating storage and control would place trust

[2021-08-14 21:06] agropper commented on #93
@OR13 - Thanks for your review. My goal is to arrive at a consensus set of VC principles related to privacy and protocol. To the extent that the encoding of claims, issuer stuff, and signature stuff do not have a significant privacy profile, my focus is on the subject / holder and associated protocol implications to privacy.

P2 - Yes, claims is more precise. So: P2 - Selective Disclosure is an im

[2021-08-16 00:11] kdenhartog commented on #93
With BBS+ as currently implemented this is true. However, there's some additional features which would make for some odd situations which wouldn't make for this. With any use of a link secret the issuer directly sending to the verifier also wouldn't be possible (unless the issuer is randomly generating a link secret).

Then again, if the verifier could directly contact the issuer, I'd ask what the

[2021-08-16 17:26] agropper commented on #93
@kdenhartog I agree that having the Issuer respond to a capability presented by the Verifier is sometimes the "the simplest solution". Also, because the Subject always has the choice of introducing themselves as "Holder" when they receive a capability from the Issuer (instead of the VC itself), it is also the most general.

As mentioned in https://github.com/w3c/vc-data-model/issues/789#issuecomme

[2021-08-16 17:48] swcurran commented on #93
@agropper - Could you please explain your view about holders as they related to SSI protocols?

[2021-08-16 20:05] #59 closed

[2021-08-16 20:06] #81 closed

[2021-08-16 20:07] #84 closed

[2021-08-16 20:14] OR13 commented on #93
@nembal  I would like to be able to move issues like this to github discussions...

[2021-08-16 20:16] OR13 commented on #90
PROPOSAL, define and example this:

[code]

[2021-08-16 20:17] OR13 commented on #90
also cleanup `thid`...

[2021-08-16 20:17] OR13 commented on #90
explain like I am 5 `thid`, `pthid`.

[2021-08-16 20:18] OR13 commented on #15
Decision to remove the v0.1 label from this issue.

[2021-08-16 20:19] OR13 commented on #15
@troyronda feel free to resurrect this with a concrete proposal.

[2021-08-16 20:22] OR13 commented on #85
PR was added, but rendering is currently broken.

[2021-08-16 20:23] OR13 opened #94 "v1 Release Checklist"
Deferred v1
- [x] Example annotation (line numbers and relevant spec references by line-range as per #35 )
- [x] link to sample implementation that actually work (reviewable code)
- [x] integration tests
    * Who will double-check the crypto libraries/dependencies stuff?

[2021-08-16 21:27] agropper commented on #93
- SSI protocols will support SSI data models for VC and DID. VCs could refer to a Subject via a DID or some other identifier.
- A person can choose a DID method and DID or some other digital identifier and approach an Issuer as their Subject.
- The Issuer can choose to honor the Subject's digital identifier or not.
- If the Issuer agrees, they can grant their Subject an access right to a VC with a

[2021-08-17 06:56] nembal commented on #93
@OR13 I am looking at it today! 👌

[2021-08-17 15:45] swcurran commented on #93
@agropper -- thanks.  That's quite a different sequence from what I understand -- at least after bullet 3.

In the 4th bullet, why does the issuer "grant their Subject an access right" vs. "issues them a VC" (e.g. sends them a document that is a VC)?

[2021-08-17 15:58] agropper commented on #93
@swcurran The reason for the 4th bullet is explained in the final paragraph. Namely, the right to exercise a capability or to delegate the capability should be the patient's. The right to delegate should belong to the patient, not the Issuer.

This is not just a corner case. Over a decade of experience with healthcare interoperability mandates, regulations, regulatory capture, and the APIs that ha

[2021-08-17 19:07] David-Chadwick commented on #93
Subjects can be inanimate entities with no possibility of holding keys or authorising anyone to do anything. One example is a company registration VC issued by a national company registration authority. The company and VC subject is a legal entity, but humans (in the form or named directors and secretaries) act on behalf of the subject. So the subjectId cannot really identify the subject (the comp

[2021-08-17 20:27] swcurran commented on #93
OK -- I don't see you and I are likely to get agreement here.  I know you have a ton more experience than I in trying to get higher level protocols (like UMA) in place, but I don't see the VC spec itself as the place to do that.

I think that a VC is a lower level concept to something that might require or use capabilities or delegation. I think a verifiable credential should be data (any data) is

[2021-08-17 20:41] swcurran commented on #93
@David-Chadwick -- I'm interested that you say a registered company can't have keys.

I know of several efforts to build what amounts to a "Corporate Wallet" for businesses.  Such an agent presents a verifiable credential interface (API) to the world and on the internal backend provides what amounts to a workflow engine to control the agent to initiate or respond to requests.  The workflow engine

[2021-08-19 00:13] agropper commented on #93
@swcurran - If not in VC-HTTP API, where does the human right to delegate belong?

A paper credential that has a biometric, like a driver's license, does not consider or make a distinction for a holder. Digital credentials that identify the subject by a biometric would not have to consider holder either. See https://github.com/HIEofOne/Trustee-Community/blob/master/Biometric-Health-Card.pdf for an

[2021-08-19 22:00] swcurran commented on #93
@agropper -- What you are addressing are real concerns, but I remain firm in my statement that those concerns are rooted in the **governance** of the **use of VCs** not in the **technical definition of VCs**.  Human rights do not come into play on what a VC **is**, they come into play in how VCs **are used**. How they are used is governance question between the participants that are using them and

[2021-08-20 00:13] kdenhartog commented on #93
Minor correction for the record. There is a general purpose delegation described in the V1.0 model today. It's a bit light on the details, but does allude to methods to delegate credentials. See [Appendix C](https://w3c.github.io/vc-data-model/#subject-holder-relationships) for details. However, just because the delegation model exists doesn't mean it's always the best way to achieve the end goal

[2021-08-20 02:58] swcurran commented on #93
@kdenhartog -- I would tend to disagree that Appendix C is helpful in this area. It tries to delve into what the contents of specific VCs (and hence, outside the spec) and how they should be used (again, out of scope). Worse, it does so in such limited ways that I think it is more confusing then helpful.  It is marked as non-normative, so that's good.

[2021-08-20 03:13] kdenhartog commented on #93
I agree that it's unhelpful, but it is still described in the spec, hence the correction. We're really just splitting hairs at this point though and is largely off topic from the original point you raised. We can address it in a different issue later.

[2021-08-20 09:29] #93 closed

[2021-08-30 20:11] brentzundel commented on #85
looks like rendering is working. Closing.

[2021-08-30 20:11] #85 closed

[2021-09-02 15:55] #90 closed

[2021-09-05 14:24] tlodderstedt opened #98 "format in presentation_submission example"
The spec's example in "Step 4 - Present Proof" uses format="ldp_vp", but the path refers to the credential. So I would assume the format should be "ldp_vc".

[2021-09-05 21:00] TomCJones commented on #98
I have never heard a valid use case for including any credential in an id token and continue to be against it on principle. The whole point of the credential was to hide information from the RP not to expose it.

[2021-09-06 06:37] tlodderstedt commented on #98
How is your comment related to this issue?

[2021-09-08 20:34] brianorwhatever opened #99 "How does a verifier correlate a presentation proposal with the proper presentation request?"
Here are the steps as I understand them with the solution I will work towards. Interested in hearing others thoughts.

1. The verifier creates a Presentation Request, which in turn creates a didcomm out of band invitation (no correlating factor between these two things)
2. The prover reads the invitation and sends a didcomm present-proof "proposal" message
3. The verifier receives the proposal and

[2021-09-08 22:05] brianorwhatever opened #100 "`to` in DIDComm messages should be an array of DIDs"
As described in https://identity.foundation/didcomm-messaging/spec/#message-headers the `to` property in didcomm messages should be a list of dids containing the audience of the message (can be 1 or multiple)

Importantly this `to` isn't used for routing or encryption

[2021-09-08 22:17] brianorwhatever opened #102 "DIDComm attachment properties incorrect"
`@id` should be `id`
`mime-type` should be `media_type`

[2021-09-08 23:34] agropper commented on #99
From a privacy perspective, 1 and 3 are separate requests. 1 is a public
and non-specific advertisement to potential provers. The advertisement
offers one or more schemas that a prover can choose to respond with. The
response, if any, is a choice of schema. 3 is a request for private
information or a ZKP.

Step 1 forces the prover to make some choices, thereby leaking some
information to the verif

[2021-09-08 23:56] brianorwhatever commented on #99
Step 1 is entirely on the verifier side. The prove is not involved in the interaction whatsoever so they do not need to make any choices. Step 2 is where the prover pings the verifier telling them they propose sending  a presentation (without making any choices either). Step 3 is the first instance of anything related to VCs being sent across the didcomm channel. Yes, this is where the authorizati

[2021-09-09 17:51] agropper commented on #99
On Wed, Sep 8, 2021 at 7:57 PM Brian Richter ***@***.***>
wrote:

I agree. 1 is just a verifier's advertisement and 1 and 2 together are a
request-response pair where the response might "leak" an identifier for the
entity that might later authorize release of a VC or VP to the verifier.
The leaked identifier (an endpoint or resolvable to and endpoint) might be
anonymous, pairwise pseudonymous (inc

[2021-09-09 18:06] brianorwhatever commented on #99
Ok I think I understand your concern a bit better. Using your example here what I'm trying to implement right now is on the verifier side in step 3 I need to know which survey to send to an email address.

As the verifier in step 3 I have received a proposal from a certain identifier (who i will send  to) so now I need to look up in my database of requests which request it is they are looking to f

[2021-09-09 18:14] brianorwhatever commented on #99
I guess a similar question I should be asking is a Presentation Request unique to a prover? Your comments here bring me to thinking you believe the answer should be no however I don't think the current specification mentions anything about this

[2021-09-09 18:26] brianorwhatever commented on #99
requests at all? A single request in the form of a verifier's
advertisement, can result in a VC-related response in a way that leaks no
data at all if the prover chooses to ignore the request.

So are you proposing to include the presentation request details into step 1? This might actually be a good idea as it would advertise what the verifier is looking for directly, giving the prover the opport

[2021-09-09 18:27] brianorwhatever opened #104 "Are we sure the `Propose` message is optional?"
In https://identity.foundation/waci-presentation-exchange/#step-2-send-message-proposing-presentation we mention the propose message is "optional in many cases"

But how? Where would a verifier send the request if this message doesn't happen?

[2021-09-09 18:34] brianorwhatever commented on #98
The path refers to the first element of the `verifiableCredential` array which is inside of the VP

[2021-09-09 19:50] agropper commented on #99
Exactly! This is why a unified request advertisement is better from a
privacy engineering perspective. I'm wondering what the use-cases would be
where an advertisement followed by a request are necessary. Once we
understand that, we would be able to design the linkage between the
advertisement and the request.

- Adrian

On Thu, Sep 9, 2021 at 2:26 PM Brian Richter ***@***.***>
wrote:

[2021-09-10 07:21] mirceanis commented on #100
I believe this would unnecessarily complicate the message sending and error handling logic.
There are exponentially more corner cases to cover with multiple recipients.

[2021-09-10 16:22] brianorwhatever commented on #100
Yes it does add overhead however it's important to note this `to` field is not used for sending or routing of any kind. It is only used as contextual information for the receiver to know who else the message was sent to

[2021-09-11 16:58] brianorwhatever opened #105 "Presentation Submission not a proper DIDComm attachment"
The present proof message doesn't have the attachment in the proper location. It needs to be inside a `json` property (even though it's json-ld) and then inside a `dif` property
![image](https://user-images.githubusercontent.com/7122708/132955435-f995209b-234c-40a8-b67b-bc01cbe40411.png)

The request proof message has the proper path

[2021-09-11 20:35] brianorwhatever opened #107 "How to create presentation?"
Trying to create a presentation submission and I am a bit confused. It seems weird that the submission and the VP are mixed together into the same object. That must mean I have to have this `presentation_submission` object embedded in the presentation data before I create the VP? If I want to do something similar to this https://github.com/transmute-industries/verifiable-data/tree/main/packages/vc

[2021-09-13 20:05] #100 closed

[2021-09-13 20:05] #102 closed

[2021-09-13 20:44] brentzundel commented on #99
addressed by PR #108, closing

[2021-09-13 20:44] #99 closed

[2021-09-13 20:47] brentzundel commented on #26
An implementation of WACI v0.1 is the first step toward getting real-world examples.
@swcurran how is BC Gov's implementation coming?

[2021-09-13 20:48] #105 closed

[2021-09-13 20:53] brianorwhatever commented on #107
after working with this a bit more I figured out that yes this is correct. closing this question

[2021-09-13 20:53] #107 closed

[2021-09-13 20:55] OR13 commented on #98
The format is correct, ti should b `ldp_vp` and inside that there will be a BBS+ `ldp_vc` which was derived according to the frame, and which has the correct input descroptions.

[2021-09-13 20:59] brentzundel commented on #104
addressed by PR #109

[2021-09-13 20:59] #104 closed

[2021-09-14 01:02] swcurran commented on #26
At the moment, BC Gov is not planning an implementation. Within Aries Cloud Agent Python (ACA-Py) we have most of the components ready (OOB, Present Proof, BBS+, DIF PE), with the exception of DIDComm V2 support above the message envelope (which is close to being completed -- we'll have that Real Soon Now, in order to support AIP 2.0), and the V3.0 version of the present-proof protocol (which shou

[2021-09-20 08:14] brianorwhatever commented on #26
....the here linked in the issue promises vc issuance. v1?

[2021-09-23 21:13] brianorwhatever opened #113 "Will we run into issues when a field is an array?"
Speaking with @swcurran he mentioned that aca-py builds the frame object from input descriptors on the prover side. One of the reasons he cited for that approach was because we are going to encounter issues when we have a field thats value is an array. This is because of the index of the message being unknown at the time of request. Do we think this might be an issue?

I am unable to test as I'm s

[2021-09-27 20:53] OR13 opened #115 "Unable to generate test vectors for credential"
We need to demonstrate interoperability with:

- [ ] -  [Mattr](https://github.com/mattrglobal/jsonld-signatures-bbs)
- [ ]  - [SecureKey](https://github.com/hyperledger/aries-framework-go/blob/main/test/bbs/test/bbs.js)
- [ ] - [Transmute ](https://github.com/transmute-industries/verifiable-data/tree/main/packages/bbs-bls12381-signature-2020)

#### Credential
[code]

#### Frame
[code]

[2021-09-28 20:00] OR13 commented on #115
Related: https://github.com/trustbloc/wallet/pull/1139/files

[2021-10-04 21:14] OR13 commented on #115
The root cause of the issue can be found here: https://github.com/w3c-ccg/ldp-bbs2020/issues/62

We remain blocked until a new proof type and implementation are available.

[2021-11-01 21:31] brentzundel opened #116 "spec needs section in interop profile for issuance"
In order to have a place in the interop section for issuance, we need to editorially tweak that section

[2021-11-01 21:32] OR13 opened #117 "Adding a section on credential manifest"
related to https://github.com/trustbloc/wallet/tree/main/docs/waci-credential-manifest

[2021-11-01 21:34] brentzundel opened #118 "what to use for issuance?"
- presentation exchange?
- Aries  RFCs?
- credential manifest?

this issue is a place to have the conversation. please feel free to propose additional notions/concerns/etc.

[2021-11-01 21:48] agropper commented on #118
How is this different from what's being done in VC-API https://w3c-ccg.github.io/vc-api/ ?

[2021-11-01 22:35] brianorwhatever commented on #118
@agropper this flow will likely be completed over didcomm while vc-api remains out of the box http oriented

[2021-11-01 23:17] agropper commented on #118
@brianorwhatever

1 - Although V-API may be currently HTTP oriented, their security protocol is having to deal with HTTP-agnositc authorization models like [GNAP](https://datatracker.ietf.org/doc/draft-ietf-gnap-core-protocol/) and removing HTTP from the spec title is a step in that direction. It might make sense for the SSI community to try to avoid fragmentation of how the VC and DID data models

[2021-11-08 21:07] #116 closed

[2021-11-15 21:24] OR13 opened #121 "Add examples using Ed25519Signature2018"
End to end DIDComm messages for issuance and presentation using ed25519

[2021-11-16 18:56] brianorwhatever opened #123 "Remove custom presentation exchange json schema"
Now that presentation exchange has the `frame` property included we can remove the custom schema included in this spec

[2021-11-29 16:28] rolsonquadras commented on #15
The [Web Redirect](https://identity.foundation/didcomm-messaging/spec/#redirecting-back-to-sender) feature has been added to DIDComm v2 spec. I have created a [WACI PR](https://github.com/decentralized-identity/waci-presentation-exchange/pull/124) to add a section about DIDComm v2 redirect.

[2021-12-06 21:09] OR13 commented on #39
Names are important, looks like we are stuck with WACI we'll try harder next time.

[2021-12-06 21:09] #39 closed

[2021-12-06 21:11] OR13 commented on #35
Blocked by https://github.com/decentralized-identity/spec-up/issues/24 Won't fix... feel free to open a PR when it is supported.

[2021-12-06 21:11] #35 closed

[2021-12-06 21:12] OR13 commented on #27
I'll make sure we stay in sync, and will open another issue if / when we need one.

[2021-12-06 21:12] #27 closed

[2021-12-06 21:13] OR13 commented on #94
@brianorwhatever can you consider a PR that adds a link to your work so we can check these boxes.

[2021-12-06 21:19] OR13 commented on #113
Move to discussion maybe...

[2021-12-06 21:19] bumblefudge commented on #94
https://github.com/aviarytech/wacinsteins-monster

[2021-12-06 21:21] OR13 commented on #98
Closing, feel free to use the discussions feature to ask other questions.

[2021-12-06 21:21] #98 closed

[2021-12-06 21:27] OR13 commented on #7
Any updates on AIP 2.0 support for DIDComm v2 ?

[2021-12-06 21:29] #7 closed

[2021-12-06 21:29] OR13 commented on #117
@JaceHensley @rolsonquadras any updates related to CM and WACI ?

[2021-12-06 21:32] OR13 commented on #26
Should addressed by https://github.com/decentralized-identity/waci-presentation-exchange/pull/128/files

[2021-12-06 21:32] OR13 commented on #94
Should be addressed by https://github.com/decentralized-identity/waci-presentation-exchange/pull/128/files

[2021-12-06 21:34] OR13 commented on #94
I think this issue may no longer represent our intentions for v1 release.

[2021-12-06 21:34] OR13 commented on #26
We have added a link to test vectors, examples and implementation.... to the top level readme.

[2021-12-06 21:34] #26 closed

[2021-12-06 21:37] OR13 commented on #121
We have fixtures now, closing this issue.

[2021-12-06 21:37] #121 closed

[2021-12-06 21:37] OR13 commented on #123
Would love PR on this.

[2021-12-06 21:38] OR13 commented on #15
This is now better tracked on other issues / DIDComm v2.

[2021-12-06 21:38] bumblefudge commented on #15
NB @dmitrizagidulin

[2021-12-06 21:38] #15 closed

[2021-12-06 21:40] OR13 commented on #117
Possible that we already have enough text on this... @bumblefudge you have a proposal?

[2021-12-13 21:22] #117 closed

[2021-12-13 21:26] OR13 commented on #123
todo: remove the embedded json schema and link to the normative json schema.

[2021-12-13 21:28] OR13 commented on #115
Test vectors for selective disclosure under blank nodes blocked by bbs+ bug, no timeline for a fix.

[2021-12-13 21:51] #123 closed

[2022-01-11 18:54] OR13 opened #138 "Interop Testing"
I suggest DIF organize something independently to achieve some results.

Potential timeline for supply chain traceability testing discussed here:

 https://github.com/w3c-ccg/traceability-interop/issues/17

[2022-01-13 23:37] Identitywoman commented on #138
Hi @OR13 thanks for raising this issue.
Indeed we within the DIF Interoperability Working Group are working discerning what we will be doing this coming winter/spring.

There is interest in supporting Interop around JSON-LD ZKP with BBS+  along with  WACI-PEX

Our first Interop meeting of the year is next Wednesday at 6am pacific 9am ET
Here is our agenda - https://github.com/decentralized-identit

[2022-01-24 21:42] bumblefudge opened #143 "Spec/repo name and brand: is it still accurate to call it WACI-PEx?"
Orie brought up a good point today that WACI-PEx now includes WACI-DIDComm **Issuance** in addition to WACI-DIDComm **Presentation Exchange**.  New name? I foolishly volunteered a draft PR to get the convo going next week,

[2022-01-31 21:40] bumblefudge opened #147 "Pausing meetings for a few weeks"
today on the call, we considered suspending regular meetings while we wait on implementations to test and from which to define test vectors or for spec-related issues and PRs to amass. SecureKey is working hard on the first major implementation of this profile and working on how it fits into the Aries test harness; they (and/or @brianorwhatever ) will signal to C&C WG chairs and/or @OR13 and @bren

[2022-02-02 17:52] bumblefudge opened #148 "Is this line still accurate?"
I assume so, but:
 - I am unsure of the referent of "this version" - v0.1? v1?
 - perhaps I should go through and change every `specification` to `profile`, where the referent is this work item?

[2022-03-10 04:38] #143 closed

[2022-03-21 19:58] DRK3 opened #152 "Spec not updating?"
Hi,

I had a [PR merged in a few months back](https://github.com/decentralized-identity/waci-presentation-exchange/pull/146) but I don't see it reflected on https://identity.foundation/waci-presentation-exchange. Should I do something else to get the page updated?

Thanks!

[2022-03-21 20:02] OR13 commented on #152
Im not sure, I don't really understand the spec deployment tool chosen by DIF.

[2022-03-21 20:08] OR13 commented on #94
We need editorial review of issuance flows, and full test vectors from AFG.

[2022-03-21 20:08] brentzundel opened #153 "V1 editorial review"

[2022-03-21 20:09] OR13 commented on #115
We have decided not to test BBS+ because of the bug remaining regarding blank nodes.

[2022-03-21 20:10] #115 closed

[2022-03-21 20:12] brianorwhatever commented on #152
we have 2 spec.md files 😄
[v0.1](https://github.com/decentralized-identity/waci-presentation-exchange/blob/main/spec/v0.1/spec.md) and [main](https://github.com/decentralized-identity/waci-presentation-exchange/blob/main/spec/spec.md).. this change was merged into v0.1 and not main

[2022-03-21 20:12] OR13 commented on #138
We need to open a new issue to track further interop work, if folks want to see changes, that issue should describe the changes folks want to see.

[2022-03-21 20:12] #138 closed

[2022-03-21 20:13] OR13 commented on #147
We are unpausing these meetings

[2022-03-21 20:13] #147 closed

[2022-03-21 20:14] OR13 commented on #148
No, that line is inaccurate, we should refine this proposal to be JsonWebSignature2020 or Ed25519Siganture2018.

[2022-03-21 20:20] OR13 commented on #152
Changes should be moved out of v0.1 and into main... this issue can be closed when that happens.

[2022-03-21 20:23] OR13 opened #154 "Generate Test Vectors form AFG"
- Pick a use case (like permanent resident cards)
- Define the PE objects
- capture the issuance exchange JSON messages
- capture the presentation exchange JSON messages

[2022-03-21 20:35] OR13 commented on #154
See also https://github.com/hyperledger/aries-framework-go/blob/main/test/bdd/features/waci_issuance_didcomm_v2.feature

[2022-03-21 20:37] rolsonquadras commented on #154
Test

[2022-03-21 20:44] OR13 commented on #153
I will take the action to start the new repo / setup process.

[2022-03-21 20:54] #94 closed

[2022-03-21 21:16] OR13 commented on #153
@csuwildcat @bumblefudge we need to redirect from the latest "spec up" spec for this repo to https://identity.foundation/waci-didcomm/

How do we do this with spec up?

[2022-04-05 12:46] Vaplet commented on #153
Hi,
The links for presentation exchange attachment format do not work.
In the protocol you say that "_dif/presentation-exchange/definitions@v1.0_" and "_dif/presentation-exchange/definitions@v1.0_" attachment formats can be used (**first** issue here: It should be only "definition" not "definitions" if you refer to https://github.com/hyperledger/aries-rfcs/blob/main/features/0510-dif-pres-exch-att

[2022-04-05 18:33] csuwildcat commented on #153
I'm not sure this is a spec-up thing, because the routes are determined by GitHub pages and the repo structures.

[2022-04-05 18:35] bumblefudge commented on #153
would this work?
https://gist.github.com/domenic/1f286d415559b56d725bee51a62c24a7

[2022-04-05 18:37] bumblefudge commented on #153
would something like [this](https://dev.to/steveblue/setup-a-redirect-on-github-pages-1ok7) work to make
i.f/waci-presentation-exchange/
-->
i.f/waci-didcomm/
? Happy to make the PR if so

[2022-04-06 04:33] Vaplet opened #157 "Attachment links not working"
Hi,
The links for the presentation exchange attachment formats do not work.
In the protocol you say that "_dif/presentation-exchange/submission@v1.0_" and "_dif/presentation-exchange/definitions@v1.0_" attachment formats can be used (**first** issue here: It should be only "definition" not "definitions" if you refer to https://github.com/hyperledger/aries-rfcs/blob/main/features/0510-dif-pres-exch

[2022-04-12 02:07] echenknox opened #158 "Interoperability Profile - session 7.3 and 7.4's example are incorrect"
In “[WACI-DIDComm Interop Profile](https://identity.foundation/waci-presentation-exchange/#abstract)” section 7.2 Presentation step 3.
The sequence diagram in section 6.2 Presentation describes this step is from `Verifier to Wallet`, but the example is:

[code]

The same as [step 4](https://identity.foundation/waci-presentation-exchange/#step-4-present-proof).

[2022-04-12 02:10] echenknox commented on #158
It is reported and resolved here.
https://github.com/decentralized-identity/waci-didcomm/issues/10

[2022-04-12 02:10] #158 closed

[2022-04-12 08:51] bumblefudge commented on #158
thanks @echenknox ! we discussed on yesterday's call